body {
  --transform-x: 0;
  --transform-y: 0;
  --transform-r: 0;
  position: relative;
}

header {
  word-wrap: break-word;
  width: 500px;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
}

#card1, #card2 {
  z-index: -1;
}

#card1 {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(calc(var(--transform-x)*1px),calc(var(--transform-y)*1px));
}

#rotate {
  transform: rotate(calc(var(--transform-r)*1deg));
}

#card2 {
  position: absolute;
  top: 0px;
  left: 0px;
}
